// Шрифты

@sans-font: 'Source Sans Pro', Arial, sans-serif;

// Разрешение экрана

@bw400: ~"(max-width: 399px)";
@bw500: ~"(max-width: 499px)";
@bw600: ~"(max-width: 599px)";
@bw700: ~"(max-width: 699px)";
@bw768: ~"(max-width: 767px)";
@bw960: ~"(max-width: 959px)";
@bw1170: ~"(max-width: 1169px)";
@bw1340: ~"(max-width: 1339px)";
@bw1560: ~"(max-width: 1559px)";

@bw1680: ~"(max-width: 1680px)";
@w1680: ~"(min-width: 1680px)";

@bw1860: ~"(max-width: 1860px)";

@full-hd: ~"(min-width: 1920px)";
@retina: ~"(min-resolution:144dpi), (min-resolution: 1.5dppx)";

@landscape: ~"(orientation: landscape)";

@landscape-mobile: ~"(max-width: 767px) and (orientation: landscape)";

// Цветовая палитра
@bg1: #fff;

@color1: #000;

// Шрифты
@font1: "Roboto", sans-serif;