.page-footer {
   position: relative;
   background-color: #10100F;
   padding: 120px 0 80px 0;

   &::before {
       position: absolute;
       content: "";
       left: 0;
       top: 0;
       background-color: #FF7C0C;
       width: 28%;
       height: 100%;
       z-index: 1;
       box-shadow: 32px 0px 117px 0px rgba(255, 124, 12, 0.22);
   }

   &::after {
       content: "";
       position: absolute;
       background-image: url(../assets/images/shadow.png);
       background-repeat: no-repeat;
       background-size: cover;
       width: 200px;
       height: 100%;
       left: 25%;
       top: 0;
       z-index: 0;
   }

   & ul {
       padding: 0;
       margin: 0;
       list-style: none;
   }

   & a {
       text-decoration: none;
   }

   &__wrapper {
       margin-bottom: 85px;
   }

   &__list-title {
       font-family: @sans-font;
       font-size: 14px;
       font-weight: bold;
       color: #ffffff;
       margin-bottom: 0;
       margin-top: 0;
       text-transform: uppercase;
   }

   &__list-title-button {
       background-color: transparent;
       border: none;
       padding: 0;
       margin-bottom: 25px;
       cursor: default;
   }
   
   &__list-item {

    & a:hover {
        opacity: 0.7;
    }
   }

   &__address svg {
       margin-bottom: 10px;
   }

   &__about-company {
       width: 33%;
       position: relative;
       z-index: 2;

       & a {
           font-family: @sans-font;
           font-size: 15px;
           color: #000000;
           margin-bottom: 25px;
           display: block;
       }
   }

   &__disclaimer {
       display: flex;
       position: relative;
       z-index: 2;
       align-items: center;
       justify-content: space-between;

       & svg:hover {
           opacity: 0.7;
       }
   }

   &__disclaimer-developers-link {
       align-items: center;
       display: flex;
       font-family: @sans-font;
   }

   &__disclaimer-copyright {
       color: #959595;
       font-family: @sans-font;
   }

   &__disclaimer-developers span {
       margin-right: 10px;
       color: #959595;
   }

   &__disclaimer-svg {
       color: #ffffff;
   }



   &__catalog {
       width: 36%;
       z-index: 1;

       & a {
           font-family: @sans-font;
           font-size: 15px;
           color: #959595;
           margin-bottom: 25px;
           display: block;
       }
   }

   &__producers {
       width: 23%;
       z-index: 1;

       & a {
           font-family: @sans-font;
           font-size: 15px;
           color: #959595;
           margin-bottom: 25px;
           display: block;
       }
   }

   &__address {
       width: 23%;
       text-align: right;

       & a {
           color: #ffffff;
           font-style: normal;
           display: block;
           font-family: @sans-font;

           &:hover {
               opacity: 0.7;
           }
       }

       & p {
           font-style: normal;
           margin-left: auto;
           width: 215px;
           color: #ffffff;
           font-family: @sans-font;
       }
   }

   &__wrapper {
       display: flex;
   }

   &__nav {
       color: #ffffff;
       display: flex;
       justify-content: space-between;
       width: 78%;
   }


   &__address-more {
       border: 2px solid #FF7C0C;
       border-radius: 3px;
       width: 204px;
       height: 56px;
       text-align: center;
       padding: 5px 10px;
       background-color: transparent;
       font-family: @sans-font;
       font-size: 15px;
       color: #ffffff;
       font-weight: bolder;

       &:hover {
           background-color: #FF7C0C;
           color: #000000;
       }
   }

   &__address-mail,
   &__address-tel {
       margin-bottom: 40px;
   }

   &__address-tax-info {
       margin-top: 0;
       margin-bottom: 55px;
   }

   &__list-title--color-orange {
       color: #FF7C0C;
   }
}


@media @bw1140 {
    .page-footer {
        &__address p {
            width: auto;
        }

        &__about-company {
            width: 100%;
        }
    }
}


@media @bw768 {
    .page-footer {
        padding-top: 30px;

        &__list-item {
            display: none;
        }

        &__disclaimer {
            flex-direction: column;
            position: absolute;
            bottom: 100px;
            min-height: 135px;
        }

        &__disclaimer-logo {
            order: 1;
        }

        &__disclaimer-developers {
            order: 2;
        }

        &__disclaimer-copyright {
            order: 3;
        }

        &__wrapper {
            flex-wrap: wrap;
            margin-bottom: 0;
        }


        &::before {
            display: none;
        }

        &::after {
            left: 0;
        }

        &__list-title {
            color: #FF7C0C;
        }

        &__list-title-button {
            margin-bottom: 35px;
            cursor: pointer;
            text-align: left;

            &:hover {
                opacity: 0.7;
            }
        }

        &__nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &__address {
            width: 50%;
            z-index: 1;
            min-width: 170px;
        }

        &__nav {
            width: 50%;
            min-width: 170px;
        }
    }
}

@media @bw400 {
    .page-footer {

        &__address {
            text-align: left;
        }

        &__wrapper {
            margin-bottom: 150px;

        }

        &__disclaimer {
            bottom: 50px;
        }

        &__about-company {
            width: auto;
        }

        &__nav {
            width: 100%;
        }
    }
}