@media @bw768 {
    .page-nav {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    
    .page-nav__logo-link {
        margin-bottom: 0;
        margin-right: 0;
    }

    .page-nav__logo-img {
        max-width: 135px;
    }

    .page-nav__wrapper {
        justify-content: center;
    }

    .page-nav__search-form {
        position: absolute;
        right: 60px;
    }

    .page-nav__hamburger {
        position: absolute;
        top: 25px;
        left: 20px;
        z-index: 4;
        display: block;
        width: 45px;
        height: 45px;
        background-color: transparent;
        cursor: pointer;
        border: none;

        &:hover {
            outline: none;
        }

        &:focus {
            outline: none;
        }
    }

    .page-nav--closed .page-nav__list {
        display: none;
    }

    .page-nav--opened .page-nav__list {
        display: block;
    }

    .page-nav--closed .page-nav__hamburger::before {
        content: "";
        position: absolute;
        top: 18px;
        left: 9px;
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        box-shadow: 0 10px 0 0 #ffffff;
        border-radius: 3px;
    }

    .page-nav--closed .page-nav__hamburger:active::before {
        background-color: lighten(#ffffff, 30%);
        box-shadow: 0 10px 0 0 lighten(#ffffff, 30%);
    }

    .page-nav--opened .page-nav__hamburger {
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 18px;
            left: 9px;
            width: 35px;
            height: 5px;
            background-color: #ffffff;
            border-radius: 5px;
        }

        &::before {
            transform: rotate(45deg);
            box-shadow: none;
            transition: 0.5s;
        }

        &::after {
            transform: rotate(-45deg);
            transition: 0.5s;
        }


        &:active::before {
            background-color: lighten(#ffffff, 30%);
        }
    }

    .page-nav__search-input--hidden {
        display: none;
    }

    .page-nav__search-label svg {
        top: 10px;
    }
}

@media @bw1560 {
    .page-nav__logo-link {
        margin-right: 55px;
        margin-bottom: 30px;
        order: 0;
    }
    
    .page-nav__logo-img {
        max-width: 181px;
    }

    .page-nav__wrapper {
        justify-content: flex-start;
        align-items: unset;
    }

    .page-nav__list {
        order: 2;
    }

    .page-nav__list-item a {
        font-size: 12px;
    }

    .page-nav__search-form {
        order: 1;
        margin-top: 5px;
    }

    .page-nav__list-item {
        margin-right: 55px;
    }

    .page-nav__list-item:last-of-type {
        margin-right: 0;
    }
}


.page-nav {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;

    &__logo-link {
        margin-right: 80px;
        margin-bottom: 0;
        order: 0;
    }

    &__logo-img {
        max-width: 204px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__hamburger {
        display: none;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        order: 1;
    }

    &__search-form {
        order: 2;
        margin-top: 0;
    }

    &__search-input {
        font-family: @sans-font;
        color: #ffffff;
        font-size: 14px;
        border: none;
        background-color: transparent;
        width: 180px;
    }

    &__list-item {
        margin-right: 60px;
        position: relative;

        & a {
            text-decoration: none;
            color: #ffffff;
            font-family: @sans-font;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }

        &--submenu-mark::after {
            content: "";
            position: absolute;
            border: solid transparent 5px;
            border-top: orangered solid 7px;
            right: -17px;
            top: 7px;
        }

        &--submenu-mark:hover::after {
            content: "";
            position: absolute;
            border: solid transparent 5px;
            border-bottom: orangered solid 7px;
            right: -17px;
            top: 1px;
            transition: 0.3s;
        }
    }


    &__search-label {
        color: #ffffff;
        position: relative;
        cursor: pointer;

        & svg {
            position: absolute;
            right: 10px;
            top: -3px;
        }
    }
}

    

