.page-footer {
   position: relative;
   //background: linear-gradient(to right, #FF7C0C 26%, #10100F 26%);
   background-color: #10100F;
   padding: 120px 0 80px 0;

   &::before {
       position: absolute;
       content: "";
       left: 0;
       top: 0;
       background-color: #FF7C0C;
       width: 28%;
       height: 100%;
       z-index: 1;
       box-shadow: 32px 0px 117px 0px rgba(255, 124, 12, 0.22);
   }

   &::after {
       content: "";
       position: absolute;
       background-image: url(../assets/images/shadow.png);
       background-repeat: no-repeat;
       background-size: cover;
       width: 200px;
       height: 100%;
       left: 25%;
       top: 0;
       z-index: 0;
   }

   & ul {
       padding: 0;
       margin: 0;
       list-style: none;
   }

   & a {
       text-decoration: none;
   }

   &__wrapper {
       margin-bottom: 85px;
   }
}


.page-footer__list-title {
    font-family: @sans-font;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 0;
    text-transform: uppercase;
}

.page-footer__address svg {
    margin-bottom: 10px;
}

.page-footer__about-company {
    width: 33%;
    position: relative;
    z-index: 2;

    & a {
        font-family: @sans-font;
        font-size: 15px;
        color: #000000;
        margin-bottom: 25px;
        display: block;
    }
}

.page-footer__disclaimer {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.page-footer__disclaimer-developers-link {
    align-items: center;
    display: flex;
}

.page-footer__disclaimer-copyright {
    color: #959595;
}

.page-footer__disclaimer-developers span {
    margin-right: 10px;
    color: #959595;
}

.page-footer__disclaimer-svg {
    color: #ffffff;
}



.page-footer__catalog {
    width: 36%;
    z-index: 1;

    & a {
        font-family: @sans-font;
        font-size: 15px;
        color: #959595;
        margin-bottom: 25px;
        display: block;
    }
}

.page-footer__producers {   
    width: 23%;
    z-index: 1;

    & a {
        font-family: @sans-font;
        font-size: 15px;
        color: #959595;
        margin-bottom: 25px;
        display: block;
    }
}

.page-footer__address {
    width: 23%;
    text-align: right;

    & a {
        color: #ffffff;
        font-style: normal;
        display: block;
    }

    & p {
        font-style: normal;
        margin-left: auto;
        width: 215px;
        color: #ffffff;
    }
}

.page-footer__wrapper {
    display: flex;
}

.page-footer__nav {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 78%;
}


.page-footer__address-more {
    border: 2px solid #FF7C0C;
    border-radius: 3px;
    width: 204px;
    height: 56px;
    text-align: center;
    padding: 5px 10px;
    background-color: transparent;
    font-family: @sans-font;
    font-size: 15px;
    color: #ffffff;
    font-weight: bolder;
}

.page-footer__address-mail,
.page-footer__address-tel {
    margin-bottom: 40px;
}

.page-footer__address-tax-info {
    margin-top: 0;
    margin-bottom: 55px;
}

.page-footer__list-title--color-orange {
    color: #FF7C0C;
}

@media (max-width:1140px) {
    .page-footer__address p {
        width: auto;
    }
}


@media (max-width:768px) {
    .page-footer__list-item {
        display: none;
    }

    .page-footer__disclaimer {
        flex-direction: column;
        position: absolute;
        bottom: 100px;
        min-height: 135px;
    }

    .page-footer__disclaimer-logo {
        order: 1;
    }

    .page-footer__disclaimer-developers {
        order: 2;
    }

    .page-footer__disclaimer-copyright {
        order: 3;
    }

    .page-footer__wrapper {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .page-footer {
        padding-top: 30px;

        &::before {
            display: none;
        }

        &::after {
            left: 0;
        }

        &__list-title {
            color: #FF7C0C;
            margin-bottom: 35px;
        }
    }

    .page-footer__nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .page-footer__address {
        width: 50%;
        z-index: 1;
        min-width: 170px;
    }

    .page-footer__nav {
        width: 50%;
        min-width: 170px;
    }
}

@media (max-width:390px) {
    .page-footer__address {
        text-align: left;
    }

    .page-footer__wrapper {
        margin-bottom: 150px;

    }

    .page-footer__disclaimer {
        bottom: 50px;
    }

    .page-footer__about-company {
        width: auto;
    }

    .page-footer__nav {
        width: 100%;
    }

}