.partners-list {
    width: 100%;

    &--index {
        margin-bottom: 120px;
    }

    @media @bw768 {
        &--index {
            margin-bottom: 90px;
        }
    }

    @media @bw400 {
        &--index {
            margin-bottom: 40px;
        }
    }

    &__slider-list {
        width: 1140px;
        min-height: 100px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 110px auto;
    }

    @media @bw400 {
        &__slider-list {
            margin: 0 auto 35px auto;
        }
    }


    &__slider-list-item {
        opacity: 0.6;
        text-align: center;
    }
}

